@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;

    ascent-override: 80%;
    descent-override: 8%;
}

@font-face {
    font-family: "Stack Sans Text";
    src: url("../assets/fonts/StackSansText.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-primary: 'Inter';
    --font-secondary: 'Stack Sans Text';

    --color-off-white: #eee;
    --color-faint: #ccc;
    --color-muted: #777;
    --color-black: #111;

    --text-title-lg: 14.75cqi;
    --text-title-md: 11.5cqi;
    --text-subtitle-lg: 7cqi;
    --text-subtitle-md: 6cqi;
    --text-subtitle-sm: 5.5cqi;
    --text-body-lg: max(2.5cqi, 1.5rem);
    --text-body-md: max(1.75cqi, 1rem);
    --text-body-sm: max(1.3cqi, 0.9rem);

    --spacing-margin: 2.25vw;
}

@media (max-width: 768px) {
    :root {
        --text-title-lg: max(18cqi, 6rem);

        --text-body-lg: max(4.25cqi, 1.25rem);
        --text-body-md: max(3.75cqi, 0.75rem);
        --text-body-sm: max(2.5cqi, 0.65rem);
    }
}

@layer components {
    .eyebrow {
        @apply text-body-sm text-muted font-semibold 
    }

    .divider {
        @apply border-t-2 border-t-faint
    }

    .tech {
        @apply text-subtitle-md leading-none transition-all duration-350 ease-[ease] hover:ml-8 hover:cursor-pointer group-hover:text-muted hover:text-black;
    }

    .transition-450-out {
        @apply duration-450 ease-out
    }
}

@layer base {
    * { box-sizing: border-box; }

    html {
        font-size: 16px;
        scrollbar-color: theme(--color-muted) theme(--color-faint);
    }

    body {
        margin: 0;
        background-color: #fff;
    }

    ::selection {
        background: theme(--color-muted);
        color: theme(--color-off-white);
    }

    h1, h2, h3, h4, h5, h6, p, .span-text {
        font-family: theme(--font-primary);
        font-weight: 500;
        color: theme(--color-black);
        margin: 0;
        font-kerning: none;
    }

    h1, h2, h3, h4, h5, h6 { line-height: 1; }

    p, .span-text { line-height: 1.2; }
    
    .span-text { display: block; }

    a {
        color: inherit;
        text-decoration: none;
    }
}