@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;

    ascent-override: 80%;
    descent-override: 8%;
}

@font-face {
    font-family: "Stack Sans Text";
    src: url("../assets/fonts/StackSansText.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme default {
    --font-primary: 'Inter';
    --font-secondary: 'Stack Sans Text';

    --color-bg: #fff;
    --color-off-white: #eee;
    --color-faint: #ccc;
    --color-muted: #777777;
    --color-black: #111111;

    --transition-slow: 0.35s ease;

    --text-big: clamp(5rem, 14.6cqw, 12rem);
    --text-title: 14.4cqw;
}

::selection {
    background: theme(--color-muted);
    color: theme(--color-off-white);
}

::-webkit-scrollbar { display: none; }

* { box-sizing: border-box; }

body {
    margin: 0;
    background-color: theme(--color-bg);
}

@media (hover: hover) and (pointer: fine) {
    * { cursor: none; }
}

@layer base {
    h1, h2, h3, h4, p {
        font-family: theme(--font-primary);
        font-weight: 500;
        color: theme(--color-black);
        margin: 0;
        font-kerning: none;
        -webkit-font-kerning: none;
    }
    h2, h3, h4 { line-height: 1; }

    h1 { line-height: 0.9; }

    p {
        font-size: 2.25rem;
        line-height: 1.2;
    }
    a {
        color: inherit;
        text-decoration: none;
    }

    .eyebrow {
        font-size: 1.35rem;
        font-weight: 600;
        color: theme(--color-muted);
    }
}