@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;

    ascent-override: 80%;
    descent-override: 8%;
}

@font-face {
    font-family: "Stack Sans Text";
    src: url("../assets/fonts/StackSansText.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-primary: 'Inter';
    --font-secondary: 'Stack Sans Text';

    --bg: #fff;
    --off-white: #eee;
    --faint: #ccc;
    --muted: #6d6d6d;
    --black: #111111;

    --transition: 0.2s ease;
    --transition-slow: 0.35s ease;
    --transition-underline: 0.45s;
}

::selection {
    background: var(--muted);
    color: var(--off-white);
}

* {
    box-sizing: border-box;
    cursor: none !important;
}

::-webkit-scrollbar { display: none; }

body {
    margin: 0;
    background-color: var(--bg);
}

@layer base {
    h1, h2, h3, h4, p {
        font-family: var(--font-primary);
        font-weight: 500;
        color: var(--black);
        margin: 0;
        font-kerning: none;
        -webkit-font-kerning: none;
    }
    h2, h3, h4 { line-height: 1; }

    h1 { line-height: 0.9; }
    h2 { font-size: 5.5rem; }
    h3 { font-size: 5rem; }
    h4 { font-size: 4.25rem; }

    p {
        font-size: 1.75rem;
        line-height: 1.2;
    }
    a {
        color: inherit;
        text-decoration: none;
    }

    .eyebrow {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--muted);
        padding-top: 1fr;
    }
}

@keyframes moveUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-13rem);
    }
}